<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EKG Interpretation</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-gray-200">
    
    <div class="text-center">
        <h1 class="text-4xl font-bold text-black mt-6">EKG Interpretation</h1>
        <div class="text-center mt-6">
            <label class="inline-block cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <span>Import EKG Data (.CSV)</span>
                <input type="file" class="hidden" accept=".csv" onchange="handleFileSelect(event)">
            </label>
            <div id="patientInfo" class="max-w-lg mx-auto mt-6 hidden">
                <p id="patientName" class="text-lg font-bold"></p>
                <p id="patientAge" class="text-lg"></p>
            </div>            
            <div id="chartContainer" class="max-w-lg mx-auto mt-6 hidden">
                <canvas id="ecgChart"></canvas>
            </div>
        </div>
        <div class="mt-10">
            <!-- Likely Heart Conditions Section -->
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden">
                <div class="p-8">
                    <h2 class="block text-lg leading-tight font-medium text-black">Analysis</h2>
                    <div class="flex justify-between mt-4 text-gray-500">
                        <span class="font-semibold" style="width: 50%;">Condition</span>
                        <span class="font-semibold" style="width: 50%; text-align: right;">Confidence</span>
                    </div>
                    <div id="conditionsList" class="mt-2 hidden">
                        <!-- Condition elements will be added here dynamically -->
                    </div>
                </div>
            </div>
            
            <!-- Additional Information Section -->
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden mt-4 hover:shadow-lg transition duration-300 hover:bg-gray-100">
                <div class="p-8">
                    <h2 class="block text-lg leading-tight font-medium text-black">Additional Information</h2>
                    <p class="mt-2 text-gray-500">Percentage improvement since last visit:</p>
                </div>
            </div>
        </div>
    </div>

    <script> // Script for analyzing user's input EKG data
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                console.log("File selected:", file.name);
                // Add further code to process the file
            }
        }
    </script>
    <script>
        function handleFileSelect(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(fileLoadedEvent) {
                    const textFromFileLoaded = fileLoadedEvent.target.result;
                    renderChart(textFromFileLoaded);
                };
                reader.readAsText(file, "UTF-8");
            }
        }
        
        let chartInstance = null;

        function renderChart(csvData) {
            // Split CSV data by lines
            const lines = csvData.split('\n');

            // Extract ECG data and patient info
            const ecgDataLine = lines[0];
            const patientInfoLine = lines[1];

            const dataPoints = ecgDataLine.split(',').map(point => parseFloat(point.trim()));
            const patientInfo = patientInfoLine.split(',');

            // Display patient info
            document.getElementById('patientName').textContent = 'Name: ' + patientInfo[0].trim();
            document.getElementById('patientAge').textContent = 'Age: ' + patientInfo[1].trim();

            // Unhide the info and chart container
            document.getElementById('patientInfo').classList.remove('hidden');
            document.getElementById('chartContainer').classList.remove('hidden');

            // Clear existing chart if present
            if (chartInstance) {
                chartInstance.destroy();
            }
            
            // Create the chart
            var ctx = document.getElementById('ecgChart').getContext('2d');
            chartInstance = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [...dataPoints.keys()], // X-axis labels
                    datasets: [{
                        label: 'EKG Reading',
                        data: dataPoints, // Y-axis data
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false,
                            grace: '20%', // Adds padding above and below the data
                        },
                        x: {
                            grace: '5%', // Adds padding to the sides of the data
                        }
                    },
                    elements: {
                        line: {
                            tension: 0.4 // Adjust for smoother lines
                        }
                    }
                }
            });
            document.getElementById('chartContainer').classList.remove('hidden');

            fetch('/analyze_ecg', {
                method: 'POST',
                body: JSON.stringify({ data: csvData }),
                headers: { 'Content-Type': 'application/json' }
            })
            .then(response => response.json())
            .then(data => {
                populateConditions(data);
            });
        }

        function populateConditions(conditions) {
            const conditionsList = document.getElementById('conditionsList');
            conditionsList.innerHTML = ''; // Clear existing content

            // Convert object to array, sort by likelihood, and filter out 0% conditions
            const sortedConditions = Object.entries(conditions)
                .filter(([condition, likelihood]) => likelihood > 0)
                .sort((a, b) => b[1] - a[1]);

            if (sortedConditions.length > 0) {
                conditionsList.classList.remove('hidden');

                sortedConditions.forEach(([condition, likelihood]) => {
                    const conditionElement = document.createElement('div');
                    conditionElement.className = 'bg-gray-100 p-4 my-2 rounded-lg shadow hover:shadow-md transition duration-300 hover:bg-gray-200 cursor-pointer flex justify-between';

                    // Create spans for condition name and likelihood
                    const conditionNameSpan = document.createElement('span');
                    conditionNameSpan.className = 'text-md font-semibold mr-4'; // Adjust margin or padding here
                    conditionNameSpan.textContent = condition;

                    const likelihoodSpan = document.createElement('span');
                    likelihoodSpan.className = 'text-md';
                    likelihoodSpan.textContent = `${likelihood}%`;

                    // Append spans to the condition element
                    conditionElement.appendChild(conditionNameSpan);
                    conditionElement.appendChild(likelihoodSpan);

                    // Add click event for non-normal conditions
                    if (condition === "Ventricular Tachycardia") {
                        conditionElement.onclick = () => window.open("https://www.mayoclinic.org/diseases-conditions/ventricular-tachycardia/symptoms-causes/syc-20355138", '_blank');
                    } else if (condition !== 'Normal Sinus Rhythm') {
                        conditionElement.onclick = () => window.open(`https://www.cdc.gov/heartdisease/${condition.toLowerCase().replace(/\s+/g, '_')}.htm`, '_blank');
                    }

                    conditionsList.appendChild(conditionElement);
                });

            } else {
                conditionsList.classList.add('hidden');
            }
        }

        conditionNameSpan.className = 'text-md font-semibold custom-margin';

    </script>

</body>
</html>
